<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing OpenMRS">
    <listeners>
        <listener class-name="main.java.utils.Listerners"></listener>
    </listeners>
    <test name="Test Automation">
        <classes>
            <class name="test.java.OpenMRSTest"/>
           
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->